<div class="center hero-unit">
	<h1>Welcome to the Sample App</h1>

	<h2>
	This is the home page for the Application build following <a href="http://railstutorial.org/" target="_blank">Ruby on Rails Tutorial</a>.
	</h2>

	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http:/rubyonrails.org/' %>


