<footer class="footer">
	<small>
		<a href="http://railstutorial.org">Rails Tutorial</a> by Michael Hartl
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
			<li><a href="http://news.railstutotrial.org/">News</a></li>
		</ul>
	</nav>
</footer>